/*
 This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
 which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
 Copyright (C) 2023 metamuffin <metamuffin.org>

.chat
    display: flex
    flex-direction: column
    height: 100%

    .message
        margin: 0.2em
    .control-message
        font-style: italic
        color: var(--ac-light)
        filter: brightness(160%) // TODO filter is a bad approach here.
    .author
        font-weight: bold
    .text
        color: white
    .image
        width: min(20em, 30vw)
        max-height: 50em // TODO squishes the image if too high

    .messages
        flex: 1
        width: 100%
        overflow: auto

    .controls
        flex: 0

    input[type="text"]
        font-size: medium
        width: 100%
        border-radius: 5px
        padding: 0.5em
        box-sizing: border-box

    .chat-link
        color: var(--ac-light)