/*
 This file is part of keks-meet (https://codeberg.org/metamuffin/keks-meet)
 which is licensed under the GNU Affero General Public License (version 3); see /COPYING.
 Copyright (C) 2023 metamuffin <metamuffin.org>

.side-ui
    flex: 0
    z-index: 99
    .side-tray
        height: 100%
        padding: 1em
        box-sizing: border-box
        overflow-y: auto
        background-color: var(--bg)

    >.animate-in
        animation-name: side-slide-in
        animation-duration: 0.2s
    >.animate-out
        animation-name: side-slide-out
        animation-duration: 0.2s
        transform: translateX(100%)

@keyframes side-slide-in
    from
        transform: translateX(100%)
    to
        transform: translateX(0%)
@keyframes side-slide-out
    from
        transform: translateX(0%)
    to
        transform: translateX(100%)

.main
    flex: 1
    display: flex
    flex-flow: row
    overflow: hidden

.control-bar
    flex: 0
.preferences
    width: min(50em, 100vw)
    height: 100%
.chat
    width: min(30em, 100vw)
.room-watches
    width: min(30em, 100vw)
